/*цвет текста вторичный #757575;*/
/*цвет текста основной #212121;*/
/*цвет текста WebStudio #000000 #2196F3 #FFFFFF;*/
/*цвет текста кнопка, ссылки #2196F3;*/
/*нижние контакты rgba(255, 255, 255, 0.6);*/
/*цвет фона оновной #E5E5E5;*/
/*цвет фона хедер #FFFFFF;*/
/*цвет фона шапка, футер  #2F303A;*/
/*цвет фона наша команта #F5F4FA;*/
/*цвет фона наша команда карточки #FFFFFF;*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-effect: #188ce8;
  --text-color-white-a: rgba(255, 255, 255, 0.6);
  --text-color-white: #ffffff;
  --text-color-blac: #000000;
  --bg-color-white: #ffffff;
  --bg-color-light: #f5f4fa;
  --bg-color-hero: #c4c4c4;
  --bg-color-footer: #2f303a;
  --block-border-line: #ececec;
  --card-border-color: #eeeeee;
  --color4: #afb1b8;
  --color3: #757575;
  --size: 24px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--bg-color-white);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* all lists */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* section container */
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*header*/
.page-header {
  background-color: var(--text-color-white);
  border-bottom: 1px solid var(--block-border-line);
}

.page-header .conteiner,
.conteiner .main-nav,
.main-nav .site-nav,
.conteiner .contact-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/*header logo*/
.logo {
  margin-right: 93px;
  color: var(--text-color-blac);
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .accent {
  color: var(--accent-color);
}

/*site-nav and contact-nav*/
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.site-nav .link.current::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  min-height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

/* not in those assignments */
/* .site-nav .current-hover,
.contact-nav .current-hover {
  position: relative;
}
.site-nav .current-hover::after,
.contact-nav .current-hover::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  min-height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
  transform: scale(0);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .current-hover:hover::after,
.contact-nav .current-hover:hover::after,
.site-nav .current-hover:focus::after,
.contact-nav .current-hover:focus::after {
  transform: scale(1);
} */
/* not in those assignments */

.conteiner .contact-nav {
  margin-left: auto;
}

.contact-nav .item:not(:last-child) {
  margin-right: 30px;
}

.site-nav .link,
.contact-nav .link {
  display: block;
  padding: 24px 0;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  fill: var(--color3);

  transition-property: color, fill;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-nav .icon {
  margin-right: 10px;
}

/* main */
/*hero*/
.section.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .hero-title {
  max-width: 696px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
}

/*button*/
.button {
  color: var(--title-text-color);
  background-color: var(--bg-color-light);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0;
  margin: 0;
}

/*hero button*/
.button.primary {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 0;
}

.button.primary {
  color: var(--text-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color-effect);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*button filter page portfolio*/
.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .items:not(:last-child) {
  margin-right: 8px;
}

.filter .button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .button:hover,
.filter .button:focus {
  color: var(--text-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*section*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

/* hidden headers */
.section-title.not-displaye {
  visibility: hidden;
  margin-bottom: -41.25px;
}

/*features*/
.feature-list {
  display: flex;
  margin-left: -30px;
}

.feature-list .item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.feature-list .for-icon {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: var(--bg-color-light);
  border-radius: 4px;
  margin-bottom: 30px;
}

.for-icon .icon {
  /* width: 70px;
  height: 70px; */
  margin: auto;
}

.feature-list .title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-list .text {
  line-height: 1.71;
}

/* skills */
.section.skills {
  padding-top: 0;
}

.skills .skills-list {
  display: flex;
  margin-left: -30px;
}

.skills-list .item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}

.skills-list .title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--text-color-white);
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  min-height: 70px;
  bottom: 0;
}

/*our team*/
.team {
  background-color: var(--bg-color-light);
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-list .team-member {
  background-color: var(--bg-color-white);
  text-align: center;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member .bottom-description {
  padding: 30px 32px;
}

.team-member .title {
  font-weight: 500;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-member .title,
.team-member .text {
  font-size: 16px;
  line-height: 1.18;
}
.team-member .social-links,
.page-footer .social-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.social-links .item {
  margin-left: 10px;
  margin-top: 16px;
}

.social-links .link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color4);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .icon {
  margin: auto;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-color);
  fill: var(--text-color-white);
}

/* Regular customers */
.section .list-clients {
  display: flex;
  margin-left: -30px;
}

.list-clients .item {
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.list-clients .link {
  display: flex;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: var(--color4);

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-clients .link:hover,
.list-clients .link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.list-clients .icon {
  margin: auto;
}

/*page portfolio our work*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.works-list > .works-categories {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.works-categories .link {
  display: block;
  text-decoration: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-categories .link:hover,
.works-categories .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-categories .thumb-description {
  position: relative;
  overflow: hidden;
}

.thumb-description .text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--text-color-white);
  font-size: 18px;
  line-height: 1.55;

  transform: translateY(101%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-categories:hover .link .thumb-description .text,
.works-categories .link:focus .thumb-description .text {
  transform: translateY(0);
}

.works-categories .thumb {
  border: solid 1px var(--card-border-color);
  border-top: 0;
  padding: 20px 24px;
}

.thumb .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: 0 0 4px;
}

.thumb .text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

/*footer*/
.page-footer {
  background-color: var(--bg-color-footer);
  color: var(--text-color-white);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .conteiner {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

/*logo footer*/
.logo-and-contacts .logo {
  color: var(--text-color-white);
  margin-bottom: 20px;
  margin-right: 0;
  display: inline-block;
}

/* contacts footer */
.logo-and-contacts .contact-footer {
  width: 230px;
  margin-right: 70px;
}

.contact-footer .text,
.contact-footer .link {
  font-style: normal;
  line-height: 1.71;
  display: block;
}

.contact-footer .link {
  color: var(--text-color-white-a);
  text-decoration: none;
  margin-top: 9px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--accent-color);
}

/* our social networks */
.our-social-networks .titel {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.our-social-networks .item {
  margin-top: 20px;
}

.our-social-networks .link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--text-color-white);
}

/* form footer */
.form-footer {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.form-footer .form-field {
  display: flex;
  flex-direction: column;
}

.form-footer .form-field .form-label {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-footer .form-field .form-input {
  background: var(--bg-color-footer);
  min-width: 358px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--text-color-white);
}

.form-footer .form-field .form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  fill: var(--text-color-white);
}

.form-footer .button .icon {
  margin-left: 10px;
}

/* beckdrop */
.beckdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.beckdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.beckdrop .modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  background: var(--bg-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.beckdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

/* button close */
.modal .button-close {
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color-white);
  border-radius: 50%;
}
.modal .button-close .icon {
  fill: var(--text-color-blac);
  margin: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .button-close:hover .icon,
.modal .button-close:focus .icon {
  fill: var(--accent-color);
}
/* modal form */
.modal-form .form-request {
  color: var(--title-text-color);
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form .form-field {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-form .form-field:nth-child(6) {
  margin-top: 20px;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: center;
}

.modal-form .form-field .form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
}

.modal-form .form-field .form-input {
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding-left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .form-field .form-input:hover,
.modal-form .form-field .form-input:focus {
  border: 1px solid var(--accent-color);
}
.modal-form .form-field .form-input:not(:placeholder-shown) {
  padding-left: 12px;
}

.modal-form .form-field .icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  pointer-events: none;
  fill: var(--title-text-color);
  opacity: 1;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .form-field .form-input:hover + .icon,
.modal-form .form-field .form-input:focus + .icon {
  fill: var(--accent-color);
}
.modal-form .form-field .form-input:not(:placeholder-shown) + .icon {
  left: -18px;
  opacity: 0;
}

.modal-form .form-field:nth-child(6) .form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form .form-field:nth-child(6) .form-label {
  display: flex;
  align-items: center;
  padding: 0;
}

.modal-form .form-field:nth-child(6) .form-label,
.modal-form .form-field:nth-child(6) .link {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.modal-form .form-field:nth-child(6) .link {
  color: var(--accent-color);
}

.form-field .form-checkbox + .form-label .icon-check {
  margin-right: 7px;
  cursor: pointer;
}

.modal-form .form-field:nth-child(6) .form-checkbox:focus + .form-label .icon-check {
  background-color: rgba(116, 28, 28, 0.1);
}

.form-field .form-checkbox + .form-label .icon-check .icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field .form-checkbox:checked + .form-label .icon-check .icon:nth-child(1) {
  opacity: 1;
}
.form-field .form-checkbox:not(:checked) + .form-label .icon-check .icon:nth-child(2) {
  opacity: 1;
}

.modal-form .form-field .form-textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  min-height: 120px;
  resize: none;
}
.modal-form .form-field .form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form .button.primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
