.modal-form {
  &__request {
    color: $title-text-color;
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__field {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  &__field:nth-child(6) {
    margin-top: 20px;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: center;
  }

  &__label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    padding-bottom: 4px;
  }

  &__input {
    padding: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      padding-left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input:hover,
  &__input:focus {
    border: 1px solid $accent-color;
  }
  &__input:not(:placeholder-shown) {
    padding-left: 12px;
  }

  &__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    pointer-events: none;
    fill: $title-text-color;
    opacity: 1;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input:hover + &__icon,
  &__input:focus + &__icon {
    fill: $accent-color;
  }
  &__input:not(:placeholder-shown) + &__icon {
    left: -18px;
    opacity: 0;
  }

  &__field:nth-child(6) &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__field:nth-child(6) &__label {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &__field:nth-child(6) &__label,
  &__field:nth-child(6) &__link {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  &__field:nth-child(6) &__link {
    color: $accent-color;
  }

  &__icon-check {
    display: block;
    margin-right: 7px;
    cursor: pointer;
  }

  &__field:nth-child(6) &__checkbox:focus + &__label &__icon-check {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__icon-check &__icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__checkbox:checked + &__label &__icon-check &__icon:nth-child(1) {
    opacity: 1;
  }
  &__checkbox:not(:checked) + &__label &__icon-check &__icon:nth-child(2) {
    opacity: 1;
  }

  &__textarea {
    margin: 0;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    min-height: 120px;
    resize: none;
  }
  &__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
